form{
    width: 100%;
    padding: 10px 10px;
}
form label{
    font-size: large;
    font-weight: bold;
}
form .inputs, form select {
    /*width: 30%;*/
    padding: 10px !important;
    /*border: none !important;*/
    border-radius: 0 !important;
    /*margin: 10px 0;*/
}
form .inputs:focus{
    outline: none;
}
form select{
    /*width: 8%;*/
    /*padding: 10px;*/
    /*margin: 10px 0;*/
}
form .form-select{
    /*margin: 0 20px;*/
}
form select:focus{
    outline: none;
}
form select option{
    font-size: 15px;
    font-weight: bold;
}
form .form-radio input{
    margin: 10px 12px;
}
form .input-file{
    margin: 10px 0;
}
form .file-btn{
    margin: 20px 0;
}
.checkbox-outline {
    display: flex;
    align-items: center;
    gap: 10px;
}
input[type=checkbox] {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
}
.checkbox-outline input:checked {
    background-color: transparent;
    border: 3px solid #0d6efd;
}
.checkbox-outline input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%230d6efd%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
    /*background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#0d6efd' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");*/
}

.checkbox-outline input:focus {
    outline: 0;
    box-shadow: none;
}

.custom-radio {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.custom-radio label {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-weight: normal;
}

.custom-radio label input {
    width: 1.5rem;
    height: 1.5rem;
}

.file-input {
    position: relative;
}
.file-input .cursor-pointer {
    cursor: pointer;
}









