.contact-heading {
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
    margin-bottom: 20px;
}

.contact-heading h2 {
    font-weight: bold;
    padding: 5px;
    margin-left: 15px;
}

.contact-form-head {
    display: flex;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    flex-direction: column;
}

.contact-form-head .contact-form-btn Button {
    margin: 10px 0;
    background-color: #00adf1;
    padding: 10px;
}

.form-address input {
    width: 30%;
    padding: 10px;
    margin: 15px 0;
}

.form-address input:focus {
    outline: none;
}

.form-address label {
    font-size: medium;
    font-weight: bold;
}

.contact-form-end-btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contact-form-btn-last Button, .contact-form-btn-end Button {
    margin: 10px 0;
    background-color: #00adf1;
    color: #fff;
    padding: 12px 25px;
    border-color: #00adf1;
    cursor: pointer;
}

.contact-form-btn-last span, .contact-form-btn-end span {
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
}

.btn-end1 Button {
    width: 100%;
    margin: 10px 0;
    background-color: #1ef337;
}

.btn-end1 Button:hover {
    background-color: lightgreen;
}

.close-parent-guardian {
    position: absolute;
    content: "";
    top: 0;
    left: -40px;
    z-index: 10;
    cursor: pointer;
}




