.arrow-icon-card {
    margin: 1rem;
    color: #00aeef;
}

.bg {
    list-style-type: none;
}

.cards-main {
    /*display: flex;*/
}

.login-linked {
    text-decoration: none;
    color: #000000;
    min-height: 250px;
    display: flex;
}
